.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  background-color: darkslategray;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}

.main {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
  text-align: center;
  font-size: large;
  font-family: 'Quicksand', sans-serif;
}

.input {
  display: flex;
  justify-content: space-around;
  background-color: darkslategray;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: sans-serif;
}

body {
  background-color: black;
  color: white;
}

p {
  display: flex;
  flex-direction: column;
  text-align: center;
}

form {
  text-align: center;
}

label {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
}

#adjective,
#city,
#fluid,
#martial {
  font-size: larger;
  font-weight: bolder;
}

button {
  display: inline-block;
  border-radius: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-decoration: none;
  background: #f4f4f4f4;
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: black;
  color: white;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  margin-top: 10px;
  font-family: 'Quicksand', sans-serif;
}

#ftr {
  margin-left: 10px;
}

#myList {
  font-family: 'Quicksand', sans-serif;
}
